# Initial Reading of Zillow Data

In [13]:
import numpy as np
import pandas as pd

In [14]:
zri_all =  pd.read_csv('data/Zip_Zri_AllHomesPlusMultifamily.csv')
zri_multi = pd.read_csv('data/Zip_Zri_MultiFamilyResidenceRental.csv')
zri_single = pd.read_csv('data/Zip_Zri_SingleFamilyResidenceRental.csv')

In [18]:
sa_spending = pd.read_csv('data/SA_Data.csv')
fatalities = pd.read_csv('data/Covid_fatalities.csv')
cases = pd.read_csv('data/covid_cases.csv')

In [34]:

other_polling_raw = pd.read_feather('data/polling/202006.feather')
# polling_raw = pd.read_stata('data/polling/202006.dta')

In [33]:
huh.head(20)

,caseid,weight,zipcode,race,hispanic,langpref,Q1,birthyr,gender,educ,...,GOVERNOR,LTGOVERNOR,SPEAKER,SENCRUZ,SENCORNYN,USDIR,USECON,TXDIR,FAMECON,TXECON
0,1.160392e+09,0.849130,77096.0,White / Blanco,No / No,NaN,"Yes, registered",1983.0,Male,4-year,...,Neither approve nor disapprove,Disapprove somewhat,Disapprove somewhat,Disapprove strongly,Neither approve nor disapprove,Wrong track,About the same,Right direction,About the same,About the same
1,1.160397e+09,1.176206,77373.0,White / Blanco,No / No,NaN,"Yes, registered",1948.0,Female,Some college,...,Approve strongly,Approve strongly,Approve somewhat,Approve strongly,Approve somewhat,Right direction,Somewhat better off,Right direction,Somewhat better off,A lot better off
2,1.160397e+09,1.242898,75060.0,White / Blanco,No / No,NaN,"Yes, registered",1960.0,Female,4-year,...,Approve somewhat,Neither approve nor disapprove,Neither approve nor disapprove,Approve strongly,Approve somewhat,Right direction,Somewhat better off,Wrong track,About the same,About the same
3,1.160408e+09,0.517532,77009.0,White / Blanco,No / No,NaN,"Yes, registered",1976.0,Female,No HS,...,Approve somewhat,Don't know,Don't know,Approve somewhat,Approve somewhat,Wrong track,A lot worse off,Wrong track,A lot worse off,A lot worse off
4,1.160397e+09,0.917117,77706.0,White / Blanco,No / No,NaN,"Yes, registered",1950.0,Female,4-year,...,Disapprove strongly,Disapprove strongly,Disapprove strongly,Disapprove strongly,Disapprove strongly,Wrong track,A lot worse off,Wrong track,A lot worse off,A lot worse off
5,1.160409e+09,1.135555,78624.0,White / Blanco,No / No,NaN,"Yes, registered",1954.0,Female,2-year,...,Disapprove strongly,Disapprove strongly,Disapprove somewhat,Disapprove strongly,Disapprove somewhat,Wrong track,Somewhat worse off,Wrong track,Somewhat worse off,Somewhat worse off
6,1.160409e+09,0.732793,77375.0,White / Blanco,No / No,NaN,"Yes, registered",1970.0,Female,4-year,...,Disapprove strongly,Disapprove strongly,Disapprove strongly,Disapprove strongly,Disapprove strongly,Wrong track,A lot worse off,Wrong track,A lot worse off,A lot worse off
7,1.160410e+09,0.825679,78660.0,White / Blanco,No / No,NaN,"Yes, registered",1954.0,Male,2-year,...,Approve somewhat,Approve somewhat,Neither approve nor disapprove,Approve strongly,Neither approve nor disapprove,Wrong track,Somewhat worse off,Wrong track,Somewhat worse off,Somewhat worse off
8,1.160409e+09,0.732793,75056.0,White / Blanco,No / No,NaN,"Yes, registered",1957.0,Female,4-year,...,Disapprove somewhat,Disapprove strongly,Don't know,Disapprove strongly,Disapprove somewhat,Wrong track,A lot worse off,Wrong track,Somewhat worse off,A lot worse off
9,1.160409e+09,0.365187,77098.0,Asian,No / No,NaN,"Yes, registered",1965.0,Female,Post-grad,...,Disapprove somewhat,Disapprove strongly,Disapprove strongly,Disapprove somewhat,Disapprove somewhat,Wrong track,Somewhat worse off,Wrong track,About the same,Somewhat worse off
10,1.160410e+09,1.555530,78216.0,White / Blanco,No / No,NaN,"Yes, registered",1950.0,Female,4-year,...,Approve strongly,Approve strongly,Approve somewhat,Approve strongly,Approve somewhat,Right direction,Somewhat better off,Right direction,About the same,Somewhat better off
11,1.160410e+09,0.356545,77021.0,Black,No / No,NaN,"Yes, registered",1959.0,Male,2-year,...,Neither approve nor disapprove,Disapprove somewhat,Don't know,Disapprove strongly,Disapprove somewhat,Wrong track,Somewhat worse off,Wrong track,Somewhat worse off,Somewhat worse off
12,1.160410e+09,0.917117,75229.0,White / Blanco,No / No,NaN,"Yes, registered",1946.0,Female,4-year,...,Disapprove strongly,Disapprove somewhat,Neither approve nor disapprove,Disapprove strongly,Disapprove strongly,Wrong track,A lot worse off,Wrong track,About the same,Somewhat worse off
13,1.160410e+09,0.732793,78626.0,White / Blanco,No / No,NaN,"Yes, registered",1968.0,Female,4-year,...,Disapprove strongly,Disapprove strongly,Don't know,Disapprove strongly,Disapprove strongly,Wrong track,A lot worse off,Wrong track,About the same,Somewhat worse off
14,1.160410e+09,0.722764,75402.0,White / Blanco,No / No,NaN,"Yes, registered",1946.0,Male,Some college,...,Disapprove somewhat,Disapprove strongly,Neither approve nor disapprove,Disapprove somewhat,Disapprove somewhat,Wrong track,A lot worse off,Wrong track,About the same,A lot worse off
15,1.160411e+09,1.088527,77539.0,Black,No / No,NaN,"Yes, registered",1968.0,Female,4-year,...,Disapprove strongly,Disapprove strongly,Neither approve nor disapprove,Disapprove strongly,Disapprove strongly,Wrong track,A lot worse off,Wrong track,A lot worse off,A lot worse off
16,1.160411e+09,1.135555,76374.0,White / Blanco,No / No,NaN,"Yes, registered",1946.0,Female,Some college,...,Approve strongly,Approve strongly,Neither approve nor disapprove,Approve strongly,Approve somewhat,Right direction,Somewhat worse off,Right direction,About the same,About the same
17,1.160409e+09,0.978437,79109.0,White / Blanco,No / No,NaN,"Yes, registered",1955.0,Male,Some college,...,Approve strongly,Approve strongly,Disapprove somewhat,Approve strongly,Approve strongly,Wrong track,Somewhat better off,Right direction,Somewhat better off,Somewhat better off
18,1.160422e+09,1.279530,75013.0,Asian,No / No,NaN,"Yes, registered",1972.0,Female,4-year,...,Approve strongly,Approve strongly,Approve strongly,Approve strongly,Approve strongly,Right direction,Somewhat better off,Right direction,Somewhat better off,Somewhat better off
19,1.160422e+09,1.231452,75075.0,White / Blanco,No / No,NaN,"Yes, registered",1967.0,Male,4-year,...,Approve somewhat,Disapprove somewhat,Don't know,Approve somewhat,Disapprove somewhat,Wrong track,A lot worse off,Wrong track,About the same,A lot worse off

In [17]:
sa_spending.head()

,Unnamed: 0,FY 2018 Actuals,FY 2019 Actuals,FY 2020 Actuals,FY 2021 Revised Budget,FY 2021 8+4 Estimate,FY 2022 Proposed Budget
0,Current Property Tax,"340,730,468","361,966,370","379,648,660","397,924,456","397,924,456","410,350,992"
1,CPS ENERGY,"371,136,348","358,788,274","342,787,031","351,524,046","360,136,403","361,234,586"
2,City Sales Tax,"288,836,760","303,692,000","297,804,416","306,690,981","325,175,697","336,556,846"
3,Transfers from Other Funds,"36,692,459","38,773,483","147,592,699","36,813,482","36,695,342","68,461,590"
4,Charges for Current Services - Public Safety,"45,494,327","43,680,642","42,623,257","33,445,618","33,025,421","33,713,844"

In [22]:
cases.head(10)

,"COVID-19 Total Cases by County, 2020/03/04 - 2021/09/12 at 9:30AM CST",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 549,Unnamed: 550,Unnamed: 551,Unnamed: 552,Unnamed: 553,Unnamed: 554,Unnamed: 555,Unnamed: 556,Unnamed: 557,Unnamed: 558
0,DISCLAIMER: All data are provisional and are s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,County Name,Cases 03-04-2020,Cases 03-05-2020,Cases 03-06-2020,Cases 03-07-2020,Cases 03-08-2020,Cases 03-09-2020,Cases 03-10-2020,Cases 03-11-2020,Cases 03-12-2020,...,Cases 09-03-2021,Cases 09-04-2021,Cases 09-05-2021,Cases 09-06-2021,Cases 09-07-2021,Cases 09-08-2021,Cases 09-09-2021,Cases 09-10-2021,Cases 09-11-2021,Cases 09-12-2021
2,Anderson,0,0,0,0,0,0,0,0,0,...,4866,4866,4866,4866,4866,4878,4837,4894,4889,4889
3,Andrews,0,0,0,0,0,0,0,0,0,...,2069,2280,2280,2280,2280,2280,2280,2280,2280,2280
4,Angelina,0,0,0,0,0,0,0,0,0,...,5955,5955,5955,5955,5955,5955,6086,6086,6086,6086
5,Aransas,0,0,0,0,0,0,0,0,0,...,1587,1616,1629,1629,1629,1713,1740,1759,1775,1780
6,Archer,0,0,0,0,0,0,0,0,0,...,848,853,853,853,853,866,871,871,874,874
7,Armstrong,0,0,0,0,0,0,0,0,0,...,173,173,173,173,173,174,176,175,175,175
8,Atascosa,0,0,0,0,0,0,0,0,0,...,5772,5800,5800,5800,5800,5967,6002,6012,6012,6012
9,Austin,0,0,0,0,0,0,0,0,0,...,2301,2312,2324,2339,2349,2373,2392,2404,2411,2416

In [21]:
fatalities.head(5)

,"COVID-19 Total Fatalities by County, 03-07-2020 to 09-11-2021 at 9:30 AM CST",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 545,Unnamed: 546,Unnamed: 547,Unnamed: 548,Unnamed: 549,Unnamed: 550,Unnamed: 551,Unnamed: 552,Unnamed: 553,Unnamed: 554
0,DISCLAIMER: All data are provisional and are s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,County Name,Fatalities 03-07-2020,Fatalities 03-08-2020,Fatalities 03-09-2020,Fatalities 03-10-2020,Fatalities 03-11-2020,Fatalities 03-12-2020,Fatalities 03-13-2020,Fatalities 03-14-2020,Fatalities 03-15-2020,...,Fatalities 09-02-2021,Fatalities 09-03-2021,Fatalities 09-04-2021,Fatalities 09-05-2021,Fatalities 09-06-2021,Fatalities 09-07-2021,Fatalities 09-08-2021,Fatalities 09-09-2021,Fatalities 09-10-2021,Fatalities 09-11-2021
2,ANDERSON,0,0,0,0,0,0,0,0,0,...,143,143,144,144,145,146,146,146,146,146
3,ANDREWS,0,0,0,0,0,0,0,0,0,...,49,49,49,49,49,49,49,49,49,49
4,ANGELINA,0,0,0,0,0,0,0,0,0,...,324,324,324,324,325,325,326,326,326,326

### For All

In [4]:
print('For all:')
print(f'Shape: {zri_all.shape}')
print(f'Columns: {zri_all.columns}')
zri_all.head(5)

For all:
Shape: (13181, 120)
Columns: Index(['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName',
       'SizeRank', '2010-09', '2010-10', '2010-11',
       ...
       '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09',
       '2019-10', '2019-11', '2019-12', '2020-01'],
      dtype='object', length=120)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2010-09,2010-10,2010-11,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,3031.0,3058.0,3031.0,...,3785.0,3788.0,3786.0,3784.0,3766.0,3779.0,3843.0,3873.0,3835.0,NaN
1,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,1790.0,1787.0,1784.0,...,2039.0,2070.0,2105.0,2140.0,2168.0,2185.0,2125.0,NaN,2053.0,1996.0
2,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,3269.0,3304.0,3320.0,...,3874.0,3898.0,3917.0,3929.0,3931.0,3963.0,NaN,4123.0,4079.0,NaN
3,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,1547.0,1549.0,1560.0,...,1765.0,1755.0,1751.0,1752.0,1754.0,1759.0,1764.0,1769.0,1776.0,1778.0
4,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,1922.0,1925.0,1921.0,...,2245.0,2289.0,2332.0,2372.0,2398.0,2412.0,2348.0,2356.0,2311.0,NaN

### Multi

In [10]:
print('For multi:')
print(f'Shape: {zri_multi.shape}')
print(f'Columns: {zri_multi.columns}')
zri_multi.head(20)

For multi:
Shape: (1861, 120)
Columns: Index(['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName',
       'SizeRank', '2010-09', '2010-10', '2010-11',
       ...
       '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09',
       '2019-10', '2019-11', '2019-12', '2020-01'],
      dtype='object', length=120)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2010-09,2010-10,2010-11,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,2930.0,2952.0,2926.0,...,3484.0,3523.0,3573.0,3622.0,3664.0,3698.0,3704.0,3692.0,3715.0,3676.0
1,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,1447.0,1465.0,1469.0,...,1731.0,1749.0,1768.0,1787.0,1801.0,1806.0,1789.0,1761.0,1747.0,1731.0
2,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,2797.0,2811.0,2813.0,...,3449.0,3459.0,3479.0,3491.0,3510.0,3521.0,3574.0,3608.0,3561.0,NaN
3,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,NaN,NaN,NaN,...,1226.0,1250.0,1264.0,1251.0,1246.0,1252.0,1280.0,1310.0,1294.0,1286.0
4,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,1437.0,1469.0,1490.0,...,1888.0,1911.0,1934.0,1950.0,1953.0,1952.0,1921.0,1958.0,NaN,1916.0
5,91940,77449,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1314.0,1321.0,NaN,1353.0
6,61616,10002,New York,NY,New York-Newark-Jersey City,New York County,7,NaN,NaN,NaN,...,3406.0,3408.0,3420.0,3432.0,3440.0,3481.0,3437.0,3485.0,NaN,3538.0
7,91733,77084,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,8,NaN,NaN,NaN,...,1305.0,1301.0,1298.0,1298.0,1298.0,1307.0,1306.0,1311.0,NaN,1367.0
8,93144,79936,El Paso,TX,El Paso,El Paso County,9,982.0,987.0,973.0,...,881.0,879.0,881.0,879.0,879.0,877.0,877.0,883.0,895.0,898.0
9,84640,60640,Chicago,IL,Chicago-Naperville-Elgin,Cook County,10,1207.0,1224.0,1220.0,...,1503.0,1505.0,1507.0,1506.0,1503.0,1498.0,1506.0,1494.0,1498.0,1497.0
10,62037,11226,New York,NY,New York-Newark-Jersey City,Kings County,11,1717.0,1675.0,1652.0,...,2023.0,2028.0,2040.0,2054.0,2063.0,2073.0,2125.0,2098.0,2127.0,2128.0
11,61807,10467,New York,NY,New York-Newark-Jersey City,Bronx County,12,1347.0,1387.0,1424.0,...,1774.0,1778.0,1786.0,1792.0,1803.0,1818.0,1847.0,1861.0,1860.0,1865.0
12,92593,78660,Pflugerville,TX,Austin-Round Rock,Travis County,13,NaN,NaN,NaN,...,1280.0,1283.0,1288.0,1301.0,1322.0,1341.0,1339.0,1375.0,1387.0,1362.0
13,97564,94109,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,14,NaN,NaN,NaN,...,3397.0,3402.0,3405.0,3411.0,3427.0,3459.0,3457.0,3445.0,3398.0,3354.0
14,61630,10016,New York,NY,New York-Newark-Jersey City,New York County,15,2847.0,2867.0,2868.0,...,3515.0,3529.0,3540.0,3543.0,3551.0,3569.0,3614.0,NaN,3538.0,3465.0
15,74101,37013,Nashville,TN,Nashville-Davidson--Murfreesboro--Franklin,Davidson County,16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1028.0,1015.0,1013.0,1010.0
16,84646,60647,Chicago,IL,Chicago-Naperville-Elgin,Cook County,17,1329.0,1366.0,1365.0,...,1619.0,1635.0,1653.0,1671.0,1682.0,1685.0,1663.0,1621.0,1624.0,1579.0
17,62012,11201,New York,NY,New York-Newark-Jersey City,Kings County,18,2135.0,2195.0,2225.0,...,2856.0,2891.0,2913.0,2942.0,2980.0,3011.0,2959.0,NaN,3082.0,3086.0
18,62045,11235,New York,NY,New York-Newark-Jersey City,Kings County,19,1722.0,1686.0,1659.0,...,2115.0,2126.0,2134.0,2139.0,2148.0,2158.0,2181.0,2192.0,2174.0,2156.0
19,62087,11375,New York,NY,New York-Newark-Jersey City,Queens County,20,1481.0,1512.0,1523.0,...,2002.0,1997.0,1994.0,1994.0,1997.0,1999.0,1992.0,1992.0,1957.0,1986.0

In [9]:
display(zri_multi.isnull().sum())

RegionID        0
RegionName      0
City            0
State           0
Metro           3
             ...
2019-09       156
2019-10       333
2019-11       286
2019-12       243
2020-01       254
Length: 120, dtype: int64

### For single

In [6]:
print('For single:')
print(f'Shape: {zri_single.shape}')
print(f'Columns: {zri_single.columns}')
zri_single.head(5)

For single:
Shape: (15836, 111)
Columns: Index(['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName',
       'SizeRank', '2010-11', '2010-12', '2011-01',
       ...
       '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02',
       '2019-03', '2019-04', '2019-05', '2019-06'],
      dtype='object', length=111)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2010-11,2010-12,2011-01,...,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06
0,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1,3028.0,3053.0,3039.0,...,3279,3287,3284,3281,3270,3261,3264,3283,3268,3256
1,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,2,2214.0,2219.0,2203.0,...,2196,2192,2175,2155,2136,2131,2135,2146,2166,2185
2,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,3,4886.0,4932.0,4905.0,...,5085,5102,5125,5119,5093,5057,5036,5031,4859,4711
3,91940,77449,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,1292.0,1281.0,1269.0,...,1446,1449,1457,1467,1476,1481,1484,1487,1491,1495
4,93144,79936,El Paso,TX,El Paso,El Paso County,5,1087.0,1076.0,1067.0,...,994,996,1003,1013,1023,1028,1030,1031,1032,1035

## Initial Exploration - Multi

In [7]:
zri_multi.info

<bound method DataFrame.info of       RegionID  RegionName            City State  \
0        61639       10025        New York    NY
1        84654       60657         Chicago    IL
2        61637       10023        New York    NY
3        91982       77494            Katy    TX
4        84616       60614         Chicago    IL
...        ...         ...             ...   ...
1856     90755       75202          Dallas    TX
1857     94610       84627         Ephraim    UT
1858     84452       60301        Oak Park    IL
1859     94629       84647  Mount Pleasant    UT
1860     91695       77046         Houston    TX

                                 Metro       CountyName  SizeRank  2010-09  \
0          New York-Newark-Jersey City  New York County         1   2930.0
1             Chicago-Naperville-Elgin      Cook County         2   1447.0
2          New York-Newark-Jersey City  New York County         3   2797.0
3     Houston-The Woodlands-Sugar Land    Harris County         4      NaN
4             Chicago-Naperville-Elgin      Cook County         5   1437.0
...                                ...              ...       ...      ...
1856       Dallas-Fort Worth-Arlington    Dallas County      1857    997.0
1857                               NaN   Sanpete County      1858      NaN
1858          Chicago-Naperville-Elgin      Cook County      1859      NaN
1859                               NaN   Sanpete County      1860      NaN
1860  Houston-The Woodlands-Sugar Land    Harris County      1861      NaN

      2010-10  2010-11  ...  2019-04  2019-05  2019-06  2019-07  2019-08  \
0      2952.0   2926.0  ...   3484.0   3523.0   3573.0   3622.0   3664.0
1      1465.0   1469.0  ...   1731.0   1749.0   1768.0   1787.0   1801.0
2      2811.0   2813.0  ...   3449.0   3459.0   3479.0   3491.0   3510.0
3         NaN      NaN  ...   1226.0   1250.0   1264.0   1251.0   1246.0
4      1469.0   1490.0  ...   1888.0   1911.0   1934.0   1950.0   1953.0
...       ...      ...  ...      ...      ...      ...      ...      ...
1856   1019.0   1042.0  ...   1615.0   1619.0   1628.0      NaN      NaN
1857      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
1858      NaN      NaN  ...   1447.0   1483.0   1495.0   1511.0   1537.0
1859      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
1860      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN

      2019-09  2019-10  2019-11  2019-12  2020-01
0      3698.0   3704.0   3692.0   3715.0   3676.0
1      1806.0   1789.0   1761.0   1747.0   1731.0
2      3521.0   3574.0   3608.0   3561.0      NaN
3      1252.0   1280.0   1310.0   1294.0   1286.0
4      1952.0   1921.0   1958.0      NaN   1916.0
...       ...      ...      ...      ...      ...
1856   1729.0   1697.0   1739.0      NaN      NaN
1857      NaN      NaN      NaN   1298.0      NaN
1858   1570.0   1580.0   1625.0      NaN      NaN
1859      NaN      NaN      NaN      NaN   1221.0
1860      NaN      NaN      NaN      NaN      NaN

[1861 rows x 120 columns]>

In [8]:
## Group by state
zri_multi.groupby('State')